MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/baby_shower_nohan
PORT=3000
JWT_SECRET=1eo0yF9atKZwsFs0j7v3suFTSNZt5y
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@horusautomation.com
ADMIN_PASSWORD=admin2026
